---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Service from '../components/Service.astro';
import Works from '../components/Works.astro';
import Recruit from '../components/Recruit.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="日本全国｜TikTok運用代行ならBuzzLiminal">
  <main class="bg-white">
    <Hero />
    <About />
    <Service />
    <Works />
    <Recruit />
  </main>
</Layout>
